body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

button {
	border-radius: 0;
	border: 0.2px solid #ddd;
	font-weight: 600;
}

button:hover {
	background-color: #ddd;
}

.calc-layout {
	display: grid;
	grid-template-columns: repeat(4, 60px);
	grid-template-rows: repeat(6, 60px);
	width: min-content;
	margin: auto;
}

.span-all {
	grid-column: span 4;
}

.clear {
	background: rgb(170, 1, 1);
	color: white;
	border-color: rgb(170, 1, 1);
}

.clear:hover {
	background-color: rgb(139, 0, 0);
}

.output {
	/* width: 100%; */
	font-size:large;
	text-align: right;
	color: black;
}


/* browser compatibility
--Chrome/Opera/Safari
--Firefox 19+
--IE 10+
--Firefox 18-
respectively */

.output::-webkit-input-placeholder {
color: black;
}
.output::-moz-placeholder {
	color: black;
}
:-ms-input-placeholder {
	color: black;
}
:-moz-placeholder {
color: black;
}